@model OSL.Inventory.B2.Service.DTOs.ProductDto

<div class="modal fade" id="deleteProduct" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProductLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    @using (Html.BeginForm("Delete", "Product", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <fieldset>
                            <div class="alert alert-danger" role="alert">
                                Are you sure you want to delete @Html.DisplayTextFor(model => model.Name)?
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-save="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>