@model IEnumerable<OSL.Inventory.B2.Service.DTOs.CategoryDto>

@{
    ViewBag.Title = "Categories";
}

<div class="row pt-3">
    <div class="col-md-3 p-3">
        <input class="form-control" type="text" id="search-input" placeholder="Search Name" />
    </div>
    <div class="col-md-3 p-3">
        <select class="form-control" id="sort-by">
            <option selected value="">Select Status</option>
            <option value="@OSL.Inventory.B2.Service.DTOs.Enums.StatusDto.Active">Active</option>
            <option value="@OSL.Inventory.B2.Service.DTOs.Enums.StatusDto.Inactive">Inactive</option>
        </select>
    </div>
</div>

<div class="pt-4">
    <table id="categoryDatatable" class="table table-condensed table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
