@model IEnumerable<OSL.Inventory.B2.Service.DTOs.CategoryDto>

@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="addCategoryBtn">
        Launch demo modal
    </button>

    <div id="modal-placeholder-category"></div>

    <!-- Modal -->
    <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Categories</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
            </button>
        </div>
    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-index-tab"
               data-bs-toggle="tab" href="#nav-index" role="tab" aria-controls="nav-index" aria-selected="true">View All</a>
            <a class="nav-link" id="nav-create-tab"
               data-bs-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false">Add New</a>
            <a class="nav-link" id="nav-edit-tab"
               data-bs-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-edit" aria-selected="false">Contact</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-index" role="tabpanel" aria-labelledby="nav-index-tab">
            @Html.Partial("_ListCategories")
        </div>
        <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
            @Html.Action("AddOrEdit")
        </div>
        <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
            <p>clicked contact</p>
        </div>
    </div>


</div>

@section scripts {
    <script defer src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        // DataTable
        $(document).ready(function () {

            const categoryDataTable = (tableId, url) => {
                const customDataTable = $(tableId).DataTable({
                    processing: true,
                    bServerSide: true,
                    serverSide: true,
                    sort: true,
                    searching: false,
                    columnDefs: [
                        { orderable: false, targets: -1 }
                    ],
                    dom: '<"top"l>rt<"bottom"ip><"clear">',
                    ajax: {
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: (data) => {
                            return $.extend({}, data, {
                                "filter_keywords": $("#search-input").val().toLowerCase(),
                                "filter_option": $("#sort-by").val().toLowerCase(),
                            })
                        }
                    },
                });

                customDataTable.draw();
                $("#search-input, #sort-by").bind("keyup change clear", () => customDataTable.draw());
            }

            categoryDataTable('#categoryDatatable', "Category/Index");

        });

        // modal
        $('#addCategoryBtn').on('click', () => {
            $('#categoryModal').modal('show');
        })

        const showModal = (url, PlaceHolderElement) => {
            const decodeUrl = decodeURIComponent(url);
            $.get(decodeUrl).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            })
        }

        const modalAction = (PlaceHolderElement, that) => {
            const form = that.parents('.modal').find('form');
            const actionUrl = form.attr('action');
            const sendData = form.serialize();
            $.post(actionUrl, sendData).done(function (data) {
                PlaceHolderElement.find('.modal').modal('hide');
                window.location.reload();
            })
        }

        $(function () {
            const PlaceHolderElementDev = $('#modal-placeholder-category');

            $(document).on("click", ".btn-category-delete", function () {
                const id = $(this).attr('data-category-id');
                const url = `Category/Delete/${id}`;
                showModal(url, PlaceHolderElementDev);
            });

            PlaceHolderElementDev.on('click', '[data-bs-save="modal"]', function (e) {
                modalAction(PlaceHolderElementDev, $(this))
            })
        })

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}