@model IEnumerable<OSL.Inventory.B2.Service.DTOs.CategoryDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-3">
        <input class="form-control" type="text" id="search-input" placeholder="Search Name" />
    </div>
    <div class="col-md-3">
        <select class="form-control" id="sort-by">
            <option selected value="">Select Status</option>
            <option value="1">Active</option>
            <option value="-1">Inactive</option>
        </select>
    </div>
</div>

<div class="table-responsive pt-4">
    <table id="myDevTable" class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
}